@using RedSocial.Core.Application.ViewModels.Replies;
@model SaveRepliesViewModel
@{
    ViewData["Title"] = "Agregar Respuesta";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-primary text-light">
                <h4>Responde Algo Positivo!!!</h4>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Replies" asp-action="Create">

                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ComentarioId" />

                    <div class="mb-3">
                        <label asp-for="Contenido" class="form-label">Contenido: </label>
                        <input type="text" asp-for="Contenido" class="form-control" />
                        <span asp-validation-for="Contenido" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Agregar</button>
                    <a asp-controller="Home" asp-action="Index" class="btn btn-warning">Cancelar</a>

                </form>

            </div>
        </div>
    </div>

</div>

